body {
  font-family: "Poppins", sans-serif;
  background-color: #2f525d;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/stockholm.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0px;
}

header h3 {
  font-size: 25px;
  font-weight: 900;
  line-height: 3;
  margin: 0 auto;
  letter-spacing: 4px;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0 auto;
  line-height: 3;
}

.learn-more {
  padding: 15px 38px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.5px;
  background-color: white;
  border: none;
}

.learn-more:hover {
  cursor: pointer;
}

footer {
  background-image: linear-gradient(
      rgba(47, 82, 93, 0.9),
      rgba(47, 82, 83, 0.9)
    ),
    url(../images/buildings.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-zero-gap {
  display: grid;
  grid-gap: 0;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-color: #f8f8f8;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 55px;
  background-color: white; */
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
  /* grid-gap: 32px; */
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-gap: 32px; */
}

.grid a,
p {
  color: #c3c1c9;
}

li {
  list-style-type: none;
  margin-left: -40px;
}

.royal-palace-image {
  border-radius: 10px;
  filter: invert(10%);
}

main {
  background-color: white;
}

main h3 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 0;
  color: #bebcc7;
}

main h2 {
  color: #272044;
  font-size: 30px;
  margin: 0;
}

main p {
  font-size: 16px;
  color: slategray;
}

.text-center {
  text-align: center;
}

.img-responsive {
  width: 100%;
  display: block;
  aspect-ratio: 1/1;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}

.card-body h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 5px;
  margin: 0;
  color: #272044;
}

.card-footer {
  padding: 0 30px 30px;
}
.btn {
  display: block;
  color: white !important;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  /* line-height: 21px; */
  background-color: #2f525d;
  text-decoration: none;
  padding: 15px;
}
